<li>
	{{burger_name}}

	<button class="change-hungry" data-id="{{id}}" data-newburger="{{hungry}}">
		{{#if hungry}}Devour it!{{else}}Save for later!{{/if}}
	</button> 
	<button class="delete" data-id="{{id}}">Delete</button>
</li>